<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    
        <ion-button size="large" [routerLink]="['/dashboard']" expand="block" fill="clear" style="color: black;">
          <ion-icon slot="start" name="home-outline"></ion-icon>
           Home</ion-button>
           <ion-button [routerLink]="['/users']" size="large" expand="block" fill="clear" style="color: black;">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            Users</ion-button>
        <ion-button size="large" [routerLink]="['/map']" expand="block" fill="clear" style="color: black;">
          <ion-icon slot="start" name="map-outline"></ion-icon>
          Maps</ion-button>
     
        <ion-button size="large" [routerLink]="['/weather']" expand="block" fill="clear" style="color: black;">
          <ion-icon slot="start" name="rainy-outline"></ion-icon>
          Weather</ion-button>
     
   
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Map</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content class="auth-form">
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col align-self-center>
        <div class="title">
          <h2>  <ion-icon name="checkmark-circle-outline"></ion-icon> Done</h2>
          <p>
            Your are logged in
          </p>
        </div>
  </ion-col>
  </ion-row>
  </ion-grid>
  <ion-tabs style="z-index: -5;">
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/dashboard']" >
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/users']">
        <ion-icon  name="people-outline"></ion-icon>
        Users
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/map']">
        <ion-icon name="map-outline"></ion-icon>
        Maps
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/weather']">
        <ion-icon name="rainy-outline"></ion-icon>
        Weather
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
</div>