<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-card">
      <div class="header-text">
        <h2>Bienvenue</h2>
        <p>Connectez-vous pour accéder à vos recettes</p>
      </div>

      <form class="form">
        <!-- Email -->
        <ion-item class="floating-label">
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="entrez votre email" [(ngModel)]="user.email" type="email" name="email"></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item class="floating-label">
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input placeholder="••••••••" [(ngModel)]="user.password" type="password" name="password"></ion-input>
        </ion-item>

        <!-- Button -->
        <ion-button expand="block" (click)="loginUser()" class="btn-login">Connexion</ion-button>

        
      </form>
    </div>
  </div>
</ion-content>
