<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="form-card">
      <div class="header-text">
        <h2>Bienvenue</h2>
        <p>Créez votre compte pour accéder à vos recettes</p>
      </div>

      <form class="form">
        <!-- Username -->
        <ion-item>
          <ion-label position="floating">Nom d'utilisateur</ion-label>
          <ion-input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="user.username" name="username"></ion-input>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="example@gmail.com" [(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" placeholder="••••••••" [(ngModel)]="user.password" name="password"></ion-input>
        </ion-item>

        <!-- Date of Birth -->
        <ion-item>
          <ion-label position="floating">Date de naissance</ion-label>
          <ion-input type="date" [(ngModel)]="user.dateOfBirth" name="dob"></ion-input>
        </ion-item>

        <!-- Gender -->
        <ion-list class="gender-group">
          <ion-radio-group [(ngModel)]="user.gender" name="gender">
            <ion-item>
              <ion-label>Homme</ion-label>
              <ion-radio slot="start" value="Male"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Femme</ion-label>
              <ion-radio slot="start" value="Female"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <!-- Button -->
        <ion-button expand="block" (click)="registerUser()" class="btn-register">S'inscrire</ion-button>
      </form>
    </div>
  </div>
</ion-content>
