<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Application</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="auth-form">
  <ion-grid class="ion-padding ion-text-center">
    <ion-row>
      <ion-col align-self-center>
        <div class="title">
          <h2>Bienvenue</h2>
          <p>
            Class L3ILC
          </p>
        </div>
    <ion-button [routerLink]="['/login']" expand="block">
      <ion-label>Connexion</ion-label>
    </ion-button>
    <span class="divider line one-line">or</span>
    <ion-button [routerLink]="['/signup']" fill="clear">
      Inscription
    </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>